*{
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* screen under 4k */
@media only screen and (max-width: 1366px){
    #main-container{
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 150px 5fr;
        grid-template-rows: 120px 5fr
    }
}

/* 4k screen */
@media only screen and (max-width: 2880px){
    #main-container{
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 200px 5fr;
        grid-template-rows: 150px 5fr
    }

    #left-bar{
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: #039BE5;
        display: flex;
        flex-direction: column;
        /* grid-template-rows: 500px 5fr; */
        /* background-color: purple; */
    }

    #right-top{
        background-color: #039BE5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 0px 13px 19px -8px rgba(122,118,122,0.4);
        -moz-box-shadow: 0px 13px 19px -8px rgba(122,118,122,0.4);
        box-shadow: 0px 13px 19px -8px rgba(122,118,122,0.4);
    }

    #right-top #user-icon-wrapper{
        height: 80px;
        width: 80px;
    }

    #left-top-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* background-color: purple; */
    }

    #left-bar-user-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #4FC3F7;
        width: 200px;
        height: 110px;
        padding: 20px 0px 20px 0px
    }

    #left-bar-user-name{
        /* font-weight: bold; */
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    #left-bar-user-email{
        color: #424242;
    }

    ul{
        width: 200px;
    }

    ul #bar-link-wrapper{
        padding: 20px;
        text-align: center;
        text-decoration: none;
        list-style-type: none;
        /* background-color: #29B6F6; */
    }

    #bar-link-wrapper:hover{
        cursor: pointer;
        background-color: #03A9F4;
    }

    #bar-link-wrapper:active{
        
    }
}

#right-bottom{
    padding: 35px;
    display: flex;
    flex-direction: row;
}

#user-icon-wrapper{
    height: 50px;
    width: 50px;
    border-radius:100px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    background-color: #fff;
    padding: 5px;
}

#user-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center
}