*{
    padding: 0;
    margin: 0;
    /* height: 100vh;
    width: 100vw; */
}

#main-wrapper{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 2fr 2fr;
    /* background-color: #29B6F6 */
}

#left-container{
	background-image: url('../../images/background-1.svg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center
}

#left-text-wrapper{
	grid-row-start:2;
}

/* Left side texts */
#text1{
	font-weight: bold;
	font-size: 70px;
}

#text2,#text3{
	font-weight: bold;
	font-size: 15px;
	color: #424242;
}

#text3{
	margin-top: 1em;
	color: white;
}

button{
	width: 70px;
	height: 40px;
	border-radius: 5px 5px 5px 5px;
	color: #fff;
	font-weight: bold;
	background-color: #01579B;
}

#right-container{
    display: grid;
    justify-items: center;
	align-items: center;
}

#form-container-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-container-bottom{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

form{
	display: flex;
	flex-direction: column;
	justify-items: center;
	width: 80%;
	/* height: 20px; */
}

#input_field_wrapper{
	width: 100%;
	height: 45px;
	background-color: #F5F5F5;
	margin-bottom: 10px;
	padding-left:10px;
	border-radius: 10px 10px 10px 10px;
}

#input-fields{
	height: 100%;
	width: 100%;
	background-color: transparent;
}

@media only screen and (max-width: 1366px){

	#section-header-container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#user-icon-container{
		border-radius:100px;
		-moz-border-radius:100px;
		-webkit-border-radius:100px;
		-webkit-box-shadow:0px 0px 75px 5px #b2b2b2 ;
		-moz-box-shadow:0px 0px 75px 5px #b2b2b2 ;
		box-shadow:0px 0px 75px 5px #b2b2b2 ;
		background-color: transparent
	}

	#section-header{
		color: #616161;
		font-weight: bold;
		font-size: 35px
	}

	#btn-wrapper{
		width: 95%;
		background-color: #01579B;
		border: 0;
		height: 3em;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 25px;
	}
}

@media only screen and (max-width: 2880px) {

	#section-header-container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#user-icon-container{
		border-radius:100px;
		-moz-border-radius:100px;
		-webkit-border-radius:100px;
		-webkit-box-shadow:0px 0px 75px 5px #b2b2b2 ;
		-moz-box-shadow:0px 0px 75px 5px #b2b2b2 ;
		box-shadow:0px 0px 75px 5px #b2b2b2 ;
		background-color: transparent
	}

	#section-header{
		color: #616161;
		font-weight: bold;
		font-size: 35px
	}

	#btn-wrapper{
		width: 95%;
		background-color: #01579B;
		border: 0;
		height: 3em;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 25px;
	}

	#form-wrapper-main{
		border-radius: 5px;
		display: grid;
		grid-template-rows: 2fr 1fr 1fr;
		justify-items: center;
		align-items: center;
		padding: 10px;
		width: 400px;
		height: 600px;
		-webkit-box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.7);
		-moz-box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.7);
		box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.7);
	}
}

@media only screen and (max-width: 1366px) {

	#section-header-container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#user-icon-container{
		border-radius:100px;
		-moz-border-radius:100px;
		-webkit-border-radius:100px;
		-webkit-box-shadow:0px 0px 75px 5px #b2b2b2 ;
		-moz-box-shadow:0px 0px 75px 5px #b2b2b2 ;
		box-shadow:0px 0px 75px 5px #b2b2b2 ;
		background-color: transparent
	}

	#section-header{
		color: #616161;
		font-weight: bold;
		font-size: 35px
	}

	#btn-wrapper{
		width: 95%;
		background-color: #01579B;
		border: 0;
		height: 3em;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 25px;
	}

	#form-wrapper-main{
		border-radius: 5px;
		display: grid;
		grid-template-rows: 2fr 1fr 1fr;
		justify-items: center;
		align-items: center;
		padding: 10px;
		width: 300px;
		height: 500px;
		-webkit-box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.7);
		-moz-box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.7);
		box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.7);
	}
}

#btn-wrapper :hover{
	cursor: pointer;
}

