#hunting-session-component{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#tables-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#hunting-session-card{
    width: 300px;
    height: 300px;
    -webkit-box-shadow: 1px 8px 19px -8px rgba(122,118,122,1);
    -moz-box-shadow: 1px 8px 19px -8px rgba(122,118,122,1);
    box-shadow: 1px 8px 19px -8px rgba(122,118,122,1);
    border-radius: 10px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    /* padding: 15px; */
}

#header{
    background-color: #E0E0E0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
}

#header p{
    font-weight: bold;
    font-size: 20px;
    color: #616161;
}

#tables-container-top,#tables-container-bottom{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

a{
    width: 100%;
    height: 100%;
}

/* Styling for drop downs!!! */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 295px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 16px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* width: 100%; */
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  /* --------------------- */

#session_input_field_wrapper{
    width: 95%;
    height: 45px;
    background-color: #F5F5F5;
    margin-bottom: 10px;
    padding-left:10px;
/* border-radius: 10px 10px 10px 10px; */
}

#session_input-fields{
	height: 100%;
	width: 100%;
	background-color: transparent;
}

.session-top-card-body-wrappers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------- */

#table-body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#bird-table-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #EEEEEE;
    border-bottom: 1px solid #757575;
}

#admin-bird-table-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #EEEEEE;
    border-bottom: 1px solid #757575;
}

#bird-table-row div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 15px 0px;
}

#bird-table-row div:hover{
    background-color: #BDBDBD;
}

#center-cell{
    border-left: 1px solid #757575;
    border-right: 1px solid #757575;
}

#hunting-session-sectionlist{
    width: 100%;
    height: 45px;
    background-color: #F5F5F5;
    margin-bottom: 10px;
}

#hunting-session-sectionlist option{
    font-size: 15px;
}

#session_submit-button{
    width: 98%;
    height: 45px;
    background-color: #4CAF50;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#session_submit-button:hover{
    cursor: pointer;
}

#session_submit-button p{
    color: white;
    font-weight: bold;
    font-size: 15px;
}