#hunting-stats-component{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#stats-tables-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#bird-table{
    width: 600px;
    height: 500px;
    -webkit-box-shadow: 1px 8px 19px -8px rgba(122,118,122,1);
    -moz-box-shadow: 1px 8px 19px -8px rgba(122,118,122,1);
    box-shadow: 1px 8px 19px -8px rgba(122,118,122,1);
    border-radius: 10px;
    margin-right: 30px;
}

#header{
    background-color: #E0E0E0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#header p{
    font-weight: bold;
    font-size: 20px;
    color: #616161;
}

#table-body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#bird-table-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #EEEEEE;
    border-bottom: 1px solid #757575;
}

#bird-table-row div{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding: 15px 0px 15px 0px;
}

#bird-table-row div:hover{
    background-color: #BDBDBD;
}

#center-cell{
    border-left: 1px solid #757575;
    border-right: 1px solid #757575;
}

#violation-table{
    width: 400px;
    height: 500px;
    -webkit-box-shadow: 1px 8px 19px -8px rgba(122,118,122,1);
    -moz-box-shadow: 1px 8px 19px -8px rgba(122,118,122,1);
    box-shadow: 1px 8px 19px -8px rgba(122,118,122,1);
    border-radius: 10px;
}

#violation-table-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #EEEEEE;
    border-bottom: 1px solid #757575;
}

#admin-violation-table-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #EEEEEE;
    border-bottom: 1px solid #757575;
}

#violation-table-row div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 15px 0px;
}

#first-cell{
    border-right: 1px solid #757575;
}

#violation-table-row div:hover{
    background-color: #BDBDBD;
}
