#card-wrapper{
    height: 500px;
    width: 300px;
    margin-right: 30px;
    -webkit-box-shadow: 1px 8px 13px 2px rgba(92,89,92,0.23);
    -moz-box-shadow: 1px 8px 13px 2px rgba(92,89,92,0.23);
    box-shadow: 1px 8px 13px 2px rgba(92,89,92,0.23);
    border-radius: 10px 10px 10px 10px;
}

#hunter-card{
    height: 300px;
    width: 500px;
    -webkit-box-shadow: 1px 8px 13px 2px rgba(92,89,92,0.23);
    -moz-box-shadow: 1px 8px 13px 2px rgba(92,89,92,0.23);
    box-shadow: 1px 8px 13px 2px rgba(92,89,92,0.23);
    border-radius: 10px 10px 10px 10px;
}

#card-header{
    background-color: #E0E0E0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#card-header p{
    font-weight: bold;
    font-size: 20px;
    color: #616161;
}

#card-body{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

#card-info{
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px 15px;
}

#card-info #info-type{
    color: #616161;
    font-weight: bold;
    font-size: 20px;
}

#hunter-card-header{
    background-color: #E0E0E0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#hunter-card-header p{
    font-weight: bold;
    font-size: 20px;
    color: #616161;
    margin-left: 10px;
}

#hunter-card-body{
    height: 220px;
    width: 90%;
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding: 5px;
}

#hunter-id-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#hunter-id-wrapper p{
    font-size: 30px;
    font-weight: bold;
}

#expiry-date{
    justify-self: flex-end;
    align-self: center;
}

#user-info-component{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
